.home {
  margin-top: -14px;
}

.bgimg {
  margin-top: 0px;
  max-width: 100%;
  height: auto;
}

.head {
  text-align: center;
  font-size: 50px;
}

.card {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImg {
  width: 70%;
}
